# Reading JSON input file and extracting data

In [94]:
import json   
import pandas as pd

In [95]:
f1 = open("Sample_Data.json" , 'r')

lines = f1.readlines()

tweets = {}
tweets['tweets'] = []

for line in lines:
    if line[0] == '{':
        tweets['tweets'].append(json.loads(line))

In [96]:
tweet = tweets['tweets']
tweet[0]['user']

{'id': 1242817830946508801,
 'id_str': '1242817830946508801',
 'name': 'juwelz v',
 'screen_name': 'juwelz_v',
 'location': 'Lower East Side, Manhattan',
 'url': 'https://linktr.ee/juwelzv',
 'description': 'Event Lyfe LLC .. Brand Ambassador: #visionarysociety Music Manager: @ssizzzlee & @tmoneybeatsbang ProductionðŸŽ¥ðŸ“¸ #BringNyCultureBack ðŸŒŠðŸŒŠðŸŒŠ !!',
 'translator_type': 'none',
 'protected': False,
 'verified': False,
 'followers_count': 43,
 'friends_count': 118,
 'listed_count': 0,
 'favourites_count': 722,
 'statuses_count': 906,
 'created_at': 'Wed Mar 25 14:17:28 +0000 2020',
 'utc_offset': None,
 'time_zone': None,
 'geo_enabled': False,
 'lang': None,
 'contributors_enabled': False,
 'is_translator': False,
 'profile_background_color': 'F5F8FA',
 'profile_background_image_url': '',
 'profile_background_image_url_https': '',
 'profile_background_tile': False,
 'profile_link_color': '1DA1F2',
 'profile_sidebar_border_color': 'C0DEED',
 'profile_sidebar_fill_color': 'DDEEF6',
 'profile_text_color': '333333',
 'profile_use_background_image': True,
 'profile_image_url': 'http://pbs.twimg.com/profile_images/1246253579805089797/Ks1MrEDW_normal.jpg',
 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1246253579805089797/Ks1MrEDW_normal.jpg',
 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1242817830946508801/1585146985',
 'default_profile': True,
 'default_profile_image': False,
 'following': None,
 'follow_request_sent': None,
 'notifications': None}

In [97]:
#df_twitter = pd.DataFrame(tweet)

In [98]:
#df_twitter.head(2)

In [99]:
#df_twitter_user = df_twitter[['user']]
#df_twitter_user.head(5)

In [100]:
tweet[0]['user']['id_str']

'1242817830946508801'

In [132]:
len(tweet)

2001

# Connection to postgresql database

In [133]:
import psycopg2 # psycopg2 is a PostgreSQL database adapter for the Python , and it provides a Python interface for connecting to and interacting with PostgreSQL databases.

In [134]:

# Connect to the PostgreSQL database
conn = psycopg2.connect(
    host="localhost",
    database="TwitterDatabase",
    user="postgres",
    password="India@2194"
)

### Creating a cursor object to execute PostgreSQL commands

In [138]:
# Create a cursor object to execute PostgreSQL commands
cursor = conn.cursor()

#### Creating a list(cache) to check and avoid adding duplicate records into the database

In [139]:
tweet_user_list = list()

In [140]:
cursor.execute("s"

# Inserting input data into the relational database

In [141]:
print("Total rows of data available: ",len(tweet))

inserted_rows_count = 0
Skipped_rows_count = 0

for i in range(0,len(tweet)):
    try:
        if (tweet[i]['user']['id_str']) not in tweet_user_list:
            
            cursor.execute("INSERT INTO users (id_str,screen_name,description,verified,followers_count,friends_count ,listed_count ,favourites_count,statuses_count,created_at ,protected) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (tweet[i]['user']['id_str'],tweet[i]['user']['screen_name'],tweet[i]['user']['description'],tweet[i]['user']['verified'],tweet[i]['user']['followers_count'],tweet[i]['user']['friends_count'],tweet[i]['user']['listed_count'],tweet[i]['user']['favourites_count'],tweet[i]['user']['statuses_count'],tweet[i]['user']['created_at'],tweet[i]['user']['protected'] ))
            #print('Record inserted --------------------------------------------------------------------------------->')
            
            tweet_user_list.append(tweet[i]['user']['id_str'])
            
            inserted_rows_count = inserted_rows_count + 1
            
        else:
            Skipped_rows_count = Skipped_rows_count + 1
            continue
            
    except Exception as e:
        print("Error encountered:",e)
        conn.commit()
        # Roll back the transaction
        conn.rollback()
        continue

conn.commit()

print("inserted_rows_count: ",inserted_rows_count)
print("Skipped_rows_count: ",Skipped_rows_count)

Total rows of data available:  2001
inserted_rows_count:  1851
Skipped_rows_count:  150

In [142]:
print(c)

2001

In [143]:
# Close the cursor and database connection
cursor.close()
conn.close()