In [25]:
cluster.close()

In [84]:
from pymongo import MongoClient
import json
from datetime import datetime, timezone
import pymongo
from pymongo.errors import DuplicateKeyError
from dateutil import parser

## 1.0 Initialising the connection
### 1.1 Choosing the database and collection name

In [85]:
url = "mongodb+srv://grmongodb:Mongodb321@clustertwitter0.qx1igmo.mongodb.net/?retryWrites=true&w=majority"
db_name = "twitterdatabase"
collection_name = "collection001"

In [86]:
cluster = MongoClient(url)
db = cluster[db_name]
collection = db[collection_name]

## 2.0 Reading Data

In [87]:
file_name = "Sample_Data.json"
file_read = open(file_name , 'r')
tweets_data  = file_read.readlines()

### 2.1 Extract the necessary attributes

In [88]:
def convert_timestamp(created_at):
    timestamp_obj = datetime.strptime(created_at, '%a %b %d %H:%M:%S %z %Y')
    created_at = datetime.utcfromtimestamp(timestamp_obj.replace(tzinfo=timezone.utc).timestamp())
    return created_at

In [90]:
list_var = ['created_at', 'id_str', 'text', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count']
list_usr = ['id_str' , 'user_name']
list_ent = ['hashtags']
list_rt = ['id_str']
['user_id_str',  'user_screen_name','entities_hashtags' , 'oc_tweet_id']

['user_id_str', 'user_screen_name', 'entities_hashtags', 'oc_tweet_id']

In [91]:
oc_tweets = []
def tweet_format(tweet_raw, js = 0):
    if js == 0:   
        tweet_raw  = json.loads(tweet_raw)
    tweet_formatted = {}
    for var in list_var:
        tweet_formatted[var] = tweet_raw[var]
    tweet_formatted['created_at'] = convert_timestamp(tweet_formatted['created_at'])
    tweet_formatted['user_id_str'] = tweet_raw['user']['id_str']
    tweet_formatted['user_name'] = tweet_raw['user']['name']
    tweet_formatted['hashtags'] = []
    for hashtag in tweet_raw['entities']['hashtags']:
        tweet_formatted['hashtags'].append(hashtag['text'])        
    if 'retweeted_status' in tweet_raw:
        tweet_formatted['oc_tweet_id'] = tweet_raw['retweeted_status']['id_str']
        oc_tweets.append(tweet_raw['retweeted_status']) 
    else :
        tweet_formatted['oc_tweet_id'] = ''  
    return tweet_formatted

## 3.0 Inserting Into Mongo DB

In [92]:
# Creating a index which provides unique constraint to the id_str before inserting duplicated tweets
collection.create_index('id_str', unique = True, name ='id_index')
collection.create_index([("text", pymongo.TEXT)], name='text_index')

'text_index'

### 3.1 Inserting the Tweets

In [93]:
for line in tweets_data:
    if line[0] == '{':
        try:
            collection.insert_one(tweet_format(line))
        except DuplicateKeyError:
            continue
        except Exception as e:
            print(f"Insertion Stopped: {e}")

### 3.2 Inserting Original Tweets of Retweets

In [94]:
for tweet in oc_tweets:  
    try:
        collection.insert_one(tweet_format(tweet, js = 1))
    except DuplicateKeyError:
        continue
    except Exception as e:
        print(f"Insertion Stopped: {e}")

In [95]:
tweet_format(text[0])
tweet_format(oc_tweets[0] , js=1)

NameError: name 'text' is not defined

In [ ]:
print(counter)

## Raw work(to be removed later)

In [96]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import pandas as pd
# Download stopwords corpus if not already downloaded
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vishnuramjatin/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/vishnuramjatin/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [97]:
tweet_str = 'wishing death on people is weirdo behavior'

In [98]:
words = word_tokenize(tweet_str)
non_stop_words = sorted([word for word in words if not word.lower() in stopwords.words()])

In [99]:
non_stop_words

['behavior', 'death', 'weirdo', 'wishing']

In [100]:
query = {
    "$and": [
        {"$and": [{"text": {"$regex": ".*" + word + ".*"}} for word in non_stop_words]},
        {"oc_tweet_id": ""}
    ]
}

In [61]:
query = {
        "$and": [
            {'$text': {'$search': ' '.join(non_stop_words)}},
            {"oc_tweet_id": ""}
        ]
    }

In [22]:
tweets = collection.find({'text': {'$all': [re.compile(word, re.IGNORECASE) for word in non_stop_words]}})

NameError: name 're' is not defined

In [101]:
tweets = collection.find(query,
 {'created_at': 1, 'retweet_count': 1, 'user_id_str': 1, 'oc_tweet_id': 1, 'text':1,'user_name':1, 'hashtags':1}).sort([('retweet_count', pymongo.DESCENDING)]).limit(10)

In [18]:
tweets = collection.find({"$and": [{"text": {"$regex": ".*" + word + ".*"}} for word in non_stop_words]})

In [21]:
tweets = collection.find({'text': {'$all': non_stop_words}})

In [147]:
non_stop_words

['.', 'behavior', 'death', 'weirdo', 'wishing']

In [102]:
df_tweets = pd.DataFrame(list(tweets))

In [103]:
df_tweets

,_id,created_at,text,retweet_count,user_id_str,user_name,hashtags,oc_tweet_id
0,643dbcc9a55f08c75d79fc1f,2020-04-12 16:48:01,wishing death on people is weirdo behavior.,24,16144221,NUFF,[],

In [67]:
del df_tweets['_id']

In [68]:
json.loads(df_tweets.to_json(orient='records', date_format='iso'))

[{'created_at': '2020-03-05T03:48:09.000Z',
  'text': 'In this clip, Trump:\n1. Denies WHO\'s coronavirus death rate based on “hunch"\n2. Calls coronavirus "corona flu"\n3. S… https://t.co/mkSwCySBr0',
  'retweet_count': 13482,
  'user_id_str': '288277167',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T14:02:39.000Z',
  'text': 'Deeply saddened to know of death due to #Corona of beloved Agniveer patron who had helped us in Mandir Nirman in Da… https://t.co/ErpBvHeWTe',
  'retweet_count': 739,
  'user_id_str': '1013916412325322757',
  'hashtags': ['Corona'],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T16:58:44.000Z',
  'text': 'Commie turned politician @kanhaiyakumar when he had to fight election was begging for money. \n\nWish he had made sam… https://t.co/uIlxrMxOWN',
  'retweet_count': 137,
  'user_id_str': '1352832462',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T16:48:01.000Z',
  'text': 'wishing death on people is weirdo behavior.',
  'retweet_count': 24,
  'user_id_str': '16144221',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T16:08:37.000Z',
  'text': '@wdunlap @LilBlondie45 @REDSTILETTO4 You can’t find any numbers for non-corona deaths in NYC!! Pre-corona numbers 4… https://t.co/o6Q69DCDMD',
  'retweet_count': 6,
  'user_id_str': '31246281',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T18:16:58.000Z',
  'text': 'People from Hizmet Movement are kept in prison just because they opposed to Erdogan..though the great risk of death… https://t.co/v6sikl5Zro',
  'retweet_count': 4,
  'user_id_str': '912991964173410305',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T18:09:01.000Z',
  'text': 'While the number of deaths in Turkey is increasing every day because of CORONA. Why the state discriminates people… https://t.co/nESv1ZcmIC',
  'retweet_count': 3,
  'user_id_str': '1191410595880411138',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T18:09:09.000Z',
  'text': '@DefendersHuman @CharlesMichel @vonderleyen While the number of deaths in Turkey is increasing every day because of… https://t.co/Ey9nCkpfAO',
  'retweet_count': 3,
  'user_id_str': '1172775628485140480',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T18:21:49.000Z',
  'text': 'Happy New Year 2077 to all of you wishing you good Health, Happiness, Peace,Progress and Prosperity. May the New Ye… https://t.co/5ybqHZCPVD',
  'retweet_count': 1,
  'user_id_str': '721630058037678080',
  'hashtags': [],
  'oc_tweet_id': ''},
 {'created_at': '2020-04-12T17:02:36.000Z',
  'text': 'Im so behind on piercings and tattoos. I wanted to wait till I was 18 to get them done professionally, now I wish I… https://t.co/EQ13jmbnY1',
  'retweet_count': 1,
  'user_id_str': '788532972559425536',
  'hashtags': [],
  'oc_tweet_id': ''}]

In [137]:
df_tweets

Empty DataFrame
Columns: []
Index: []

In [117]:
tweet = collection.find()

In [118]:
for tw in tweet:
    print(tw)

In [73]:
hashtags = 'Corona'

In [74]:
query = { "hashtags": { "$in": [hashtags] } }
tweets = collection.find(query,{'tweet_str': 1, 'created_at': 1, 'retweet_count': 1, 'user_id_str': 1, 'id_str':1, '_id': 0}).sort([('retweet_count', pymongo.DESCENDING)]).limit(10)
df_final = pd.DataFrame(list(tweets))

In [75]:
df_final

           created_at               id_str  retweet_count          user_id_str
0 2020-04-11 17:38:05  1249028962086350848           4315  1082896194731495424
1 2020-04-12 14:02:39  1249337138031648769            739  1013916412325322757
2 2020-04-12 12:41:15  1249316652564590595            398  1212623185373327361
3 2020-04-11 18:38:01  1249044044807696384            331            720101708
4 2020-04-11 12:16:38  1248948067816144898            232   866976873762476032
5 2020-04-11 13:17:08  1248963292556599298            150            253998571
6 2020-04-12 10:27:33  1249283006520385536             86           4015224843
7 2020-04-12 15:39:53  1249361607777382404             77           2991581923
8 2020-04-12 05:48:59  1249212899278622720             66           3259092271
9 2020-04-12 14:58:52  1249351284567814144             54            435389605

In [80]:
a = 'Corona'

In [81]:
a.split('#')

['Corona']

In [82]:
import pandas as pd

In [26]:
df_tweets = pd.DataFrame(list(tweets))

In [33]:
tweet = collection.find(query, {'tweet_str': 1, 'created_at': 1, 'retweet_count': 1})

In [34]:
for tw in tweet:
    print(tw)

{'_id': ObjectId('6431ef57e4eae56aa0b2a6d6'), 'created_at': 'Sun Apr 12 18:27:31 +0000 2020', 'retweet_count': 0}

In [27]:
df_tweets

,_id,created_at,id_str,text,quote_count,reply_count,retweet_count,favorite_count,user_id_str,user_screen_name,hashtags,oc_tweet_id
0,6431ef57e4eae56aa0b2a6d6,Sun Apr 12 18:27:31 +0000 2020,1249403791641923591,https://t.co/a3BvrutRgM\n#Coronavirus e #indig...,0,0,0,0,2529415080,promosaik_,"[{'text': 'Coronavirus', 'indices': [24, 36]},...",

In [28]:
df_tweets['created_at']

0    Sun Apr 12 18:27:31 +0000 2020
Name: created_at, dtype: object

In [83]:
collection.delete_many({})